body {
  margin: 0;
  background: #0f1117;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card {
  background: #1a1d24;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#dropArea {
  border: 2px dashed #444;
  padding: 30px;
  text-align: center;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 100px;
}

.buttons {
  text-align: center;
}

button {
  background: #00c853;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #00a844;
}

#preview img {
  max-width: 100%;
  margin-top: 10px;
}